<div class="main-area">
  <div class="content-area">
    <div class="header">
      <h1>Manage Products</h1>
      <hr>
    </div>
    <div class="container">
      <!--Add product form-->
      <div class="form-area">
        <h3>Create Product</h3>
        <form #productsForm="ngForm" (ngSubmit)="onProduct(productsForm.value)">
          <label>Procuct Name</label>
          <input type="text" name="pName" ngModel>
      
          <label>Product Description</label>
          <input type="text" name="desc" ngModel>
      
          <label>Product Price</label>
          <input type="text" name="price" ngModel>

          <input type="submit" value="{{editMode ? 'Update Prdocut': 'Add Product'}}">
        </form>
      </div>

      <!--Display product area-->
      <div class="product-display-area">
        <h3>All Products</h3>
        <table id="products">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
          </tr>
          <tr *ngIf="allProducts.length<1">
            <td colspan="5">No products Available</td>
          </tr>
          <tr *ngFor="let i of allProducts; index as id">
            <td>{{id+1}}</td>
            <td>{{i.pName}}</td>
            <td>{{i.desc}}</td>
            <td>{{i.price}}</td>
            <td><button class="btn-delete" (click)="onDelete(i.id)">Delete</button></td>
            <td><button class="btn-edit" style="color: blue;" (click)="onEditClicked(i.id)">Edit</button></td>
          </tr>
        </table>
        <!-- <input type="submit" value="Fetch Product" (click)="onProductsfetch()"> -->
        <hr>
        <div class="action-btn-container">
          <button class="btn-fetch" (click)="onProductsfetch()">Fetch Product</button>
          <!-- <input type="submit" value="Fetch Product" (click)="onProductsfetch()"> -->
          <button class="btn-clear" (click)="OnDeleteAll()">Clear Product</button>
        </div>
      </div>
    </div>
  </div>
</div>